/* Burger Animation */
.burger div {
  transition: all 0.3s ease;
}

.burger.toggle div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.toggle div:nth-child(2) {
  opacity: 0;
}

.burger.toggle div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
